.withdraw-form-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    
    border: 2px solid black;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .withdraw-form-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .withdraw-form {
    display: flex;
    flex-direction: column;
  }
  
  .withdraw-form label {
    margin-bottom: 10px;
  }
  
  .withdraw-form input[type="text"],
  .withdraw-form input[type="number"] {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .withdraw-form button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .withdraw-form button:hover {
    background-color: black;
  }
  
  .withdraw-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .error-message,
.success-message {
  margin-top: 10px;
  padding: 8px;
  background-color: #5cb85c; /* Green background color for success message */
  color: #fff;
  border-radius: 4px;
  text-align: center;
}
    