.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #296bac;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header-left {
    flex: 1;
  }
  
  .bank-name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
  }
  
  .header-right {
    display: flex;
    gap: 10px;
  }
  
  .profile-button,
  .logout-button,.create-button{
    padding: 5px 16px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    background-color: #114a8b;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .profile-button:hover,
  .logout-button:hover ,.create-button:hover{
    background-color:  #375580;
  }
  